.date{
  display: block;
}

.date_change{
  border: 1px solid #242a39aa;
  text-decoration: none;
  width: 20px;
  display: block;
  margin: 0px 10px;
  text-align: center;
}

.date-handle{
  display: flex;
  justify-content: center;
  padding: 20px;
}

tr{
  border-top: 1px solid #221414c6;
  height: 50px;
}

table{
  margin: auto;
  width: 80%;
  text-align: center;
}

main{
  background-color: gainsboro;
}

ul{
  display: flex;
  justify-content: center;
}

.page-item{
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 10px 1px 30px 1px;
  text-decoration: none;
  background-color: azure;
}

.active{
  background-color: mediumturquoise;
}

.page-link{
  text-decoration:none;
}
